<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!-- Define the Magento module -->
    <module name="Maginium_CustomerAuth" setup_version="1.0.0">
        <!-- Specify module dependencies -->
        <sequence>
            <module name="Magento_Customer" />
        </sequence>
    </module>
</config>
